In [1]:
# list of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for dict_item in high_school_types:
  for key in dict_item:
    print(dict_item[key])

Griffin
District
Figueroa
District
Wilson
Charter
Wright
Charter

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
# Add the Pandas dependency.
import pandas as pd

In [5]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [10]:
high_school_dicts = [{"School ID": 101, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 102, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 201, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 301, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 404, "school_name":"Griffin High School", "type": "Charter"}]

In [11]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0        101   Huang High    School  District
1        102   Figueroa High School  District
2        201    Shelton High School   Charter
3        301  Hernandez High School  District
4        404    Griffin High School   Charter

In [12]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [13]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [18]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

schools_df["School name"] = school_name

schools_df["type_of_school"] = type_of_school


# Print the DataFrame.
schools_df

   School ID            School name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [24]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [25]:
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [26]:
HS_schools_df = pd.DataFrame.from_dict (high_schools_dict)

In [27]:
HS_schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [29]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [30]:
school_df.values

array([[101, 'Huang High    School', 'District'],
       [102, 'Figueroa High School', 'District'],
       [201, 'Shelton High School', 'Charter'],
       [301, 'Hernandez High School', 'District'],
       [404, 'Griffin High School', 'Charter']], dtype=object)